/* Main body and header design information */
body {
    font-family: Roboto;
}

div#container {
    margin-top: 10px; 
    text-align: center;
}

input#search {
    width: 400px;
    margin: 0px auto 0px auto;
    text-align: right;
}

div.column {
    text-align: center;
}

img.artist {
    height: 150px;
    width: 150px;
}

img.tvshow {
    margin-left: auto;
    margin-right: auto;
}
/* Tiles are pretty generic */
div.tile {
    background-color: #cccccc;
    margin: 20px auto 20px auto;
    padding: 10px 0px;
    width: 700px;
    cursor: default;
    overflow: auto;
    border-radius: 0.3rem;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

div.tile:hover {
    background-color: #999999;
}

/* Styling for TV Show Search */
div.tvshow-name {
    margin: 10px 0px 10px 20px;
    width: 400px;
    display: inline-block;
    float: left;
    text-align: left;
}

img.tvshow-poster {
    width: 200px;
    min-height: 40px;
    float: left;
    margin: 10px 0px 0px 20px;
}

div.tvshow-download-container {
    font-size: 1.0rem;
    width: 300px;
    float: left;
    text-align: left;
    margin: 0px 0px 0px 20px;
}

div.tvshow-download {
    display: inline-block;
    width: 100%;
}

span.format {
    float: right;
}

span.source {
    float: left;
}

span.size {
    float: left;
}

input.tv-download-button {
    float: right;
}

/* Styling for music artist/album search */
img.album-art {
    width: 200px;
    height: auto;
    float: left;
    margin: 10px 0px 0px 20px;
}

div.album-name {
    margin: 10px 0px 10px 20px;
    width: 400px;
    display: inline-block;
    float: left;
    text-align: left;
}

div.album-download-container {
    font-size: 1.0rem;
    width: 300px;
    float: left;
    text-align: left;
    margin: 0px 0px 0px 20px;
}

div.album-download {
    display: inline-block;
    width: 100%;
    margin: 5px 0px 5px 0px;
}

span.album-source {
    float: left;
}

span.album-encoding {
    float: right;
}

input.album-download-button {
    float: right;
}

/* Styling for movie search */
img.movie-art {
    width: 200px;
    height: auto;
    float: left;
    margin: 10px 0px 10px 20px;
}

div.movie-name {
    margin: 10px 0px 10px 20px;
    float: left;
    width: 400px;
    text-align: left;
    display: inline-block;
}

div.movie-download-container {
    width: 300px;
    font-size: 1.0rem;
    float: left;
    text-align: left;
    margin: 0px 0px 0px 20px;
}

div.movie-download {
    width: 100%;
    display: inline-block;
    margin: 5px 0px 5px 0px;
}

input.movie-download-button {
    float: right;
}
