<div class="column is-one-quarter">
  <div class="content result">
    <figure class="image is-128x128">
      <img class="albumart" src="<%= image %>" alt="media poster">
    </figure>

    <h5 class="title is-5"><%= title %></h3>
    <h6 class="subtitle is-6"><%= artist %></h3>
  </div>
</div>
