/* Main body and header design information */
body {
    background-color: #39627F;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
}

div#container {
    text-align: center;
}

span#header {
    color: #aaaaaa;
    font-weight: 600;
    font-size: 4rem;
}

input.search {
    font-size: 1.3rem;
    border: none;
    margin: 5px;
    width: 400px;
    text-align: right;
}

select.dropdown {
    font-size: 1.3rem;
    border: none;
}

/* Tiles are pretty generic */
div.tile {
    background-color: #e9f6ff;
    margin: 20px auto 20px auto;
    padding: 10px 0px;
    width: 700px;
    cursor: default;
    overflow: auto;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

div.tile:hover {
    background-color: #999999;
}

/* Styling for TV Show Search */
div.tvshow-name {
    min-width: 200px;
    float: left;
    margin: 10px 0px 0px 20px;
}

img.tvshow-poster {
    width: 200px;
    min-height: 294px;
    float: left;
    margin: 10px 0px 20px 50px;
}

div.seasons-container {
    width: 300px;
    float: left;
    text-align: left;
    font-size: 1.2rem;
}

div.season-resolution-container {
    margin-left: 20px;
}

div.season-resolution-download-container {
    margin-left: 20px;
}

input.season-resolution-download-button {
    float: right;
}

/* Styling for music artist/album search */
img.album-art {
    max-width: 200px;
    height: auto;
    float: left;
    margin: 10px 0px 0px 20px;
}

div.album-name {
    margin: 10px 0px 10px 20px;
    width: 400px;
    display: inline-block;
    float: left;
    text-align: left;
}

div.album-download-container {
    font-size: 1.0rem;
    width: 300px;
    float: left;
    text-align: left;
    margin: 0px 0px 0px 20px;
}

div.album-download {
    display: inline-block;
    width: 100%;
    margin: 5px 0px 5px 0px;
}

span.album-source {
    float: left;
}

span.album-encoding {
    float: right;
}

input.album-download-button {
    float: right;
}

/* Deprecated styling below, it's still in use but will be re-done after the new search is complete */
div.movie {
    background-color: #E9F6FF;
    border-radius: 15px;
    width: 750px;
    height: 250px;
    padding: 10px;
    margin: 10px auto 10px auto;
    position: relative;
}

div.information-header {
    line-height: 3rem;
}

img.poster {
    width: auto;
    height: 250px;
}

span.title {
    max-width: 400px;
    white-space: nowrap;
    overflow: hidden;
    float: left;
}

span.rating {
    font-size: 0.9rem;
    margin-right: 20px;
    float: right;
}

div.information-body {
    font-size: 1rem;
    clear: both;
}

span.description {
    margin: 10px 0px 10px 0px;
    display: block;
    text-align: left;
    height: 100px;
    overflow: auto;
}

span.date {
    float: left;
    text-align: left;
    display: inline-block;
}

span.actors {
    width: auto;
    display: inline-block;
    text-align: left;
}

span.actors ul {
    margin-top: -0.1rem;
}

span.download {
    position: absolute;
    bottom: 17px;
    right: 17px;
}



/* Styling for Artist Search  */
div.add-album {
    float: right; 
    margin-right: 50px;
}

span.album-name {
    max-width: 400px;
    white-space: nowrap;
    float: left;
    overflow: hidden;
    margin-left: 50px;
}

/* Styling for generic information containers */
div.poster-container {
    width: 250px;
    height: 100%;
    float: left;
    text-align: center;
}

div.information-container {
    width: 500px;
    height: 100%;
    float: right;
}
